@import "_main.scss";


#select-feed {
  padding: 0;
  height: 20px;
  .select-feed-label {
    padding: 0;
    a {
      display: block;
      cursor: pointer;
      margin: 0 2px;
      text-align: center;
      background-color: $lightedColor;
    }
    a:hover {
      text-decoration: none;
      background-color: $darkedColor;
    }
  }
}

.active-feed-label {
  background-color: $darkedColor !important;
}

.feed-column {
  display: none;
}

.feed-panel {
  height: 20px;
  margin: 0 2px 0 2px;
  padding-left: 10px;
  background-color: $darkedColor;
}

.feed-column {
  margin-top: 5px;
  padding: 0;
}

.active-feed-column {
  display: block;
}

.news-form {
  padding: 10px;
}

.news-form-wrapper {
  @include box-shadow(inset 2px, 2px, 2px, -2px, rgb(52, 117, 225));
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #457fea;
  textarea {
    max-width: 100%;
    min-height: 40px;
  }
}