@import "layout_main.scss";


#pulpit-content {
  padding-top: 5px;
}

#pulpit-menu {
  margin-top: 5px;
  ul {
    padding: 0;
    list-style: none;
    a {
      background-color: $darkedColor;
      padding-left: 5px;
      display: block;
      margin-bottom: 2px;
    }
    li:hover {
      a {
        background-color: $mainColor;
        text-decoration: none;
      }
    }
  }
}

#pulpit-avatar {
  border: 2px solid $darkedColor;
  padding-top: 5px;
  padding-bottom: 5px;
  img {
    width: 100%;
  }
}

#column1 {
  padding-right: 0;
}

#column2 {
  padding-left: 0;
}