@import "_main.scss";
@import "layout_main.scss";


#pulpit-content {
  padding-top: 5px;
}

#pulpit-menu {
  margin-top: 5px;
  ul {
    padding: 0;
    list-style: none;
    a {
      padding-left: 5px;
      display: block;
    }
    li:hover {
      background-color: $darkedColor;
      a {
        text-decoration: none;
      }
    }
  }
}

#pulpit-avatar {
  border: 2px solid $darkedColor;
  padding-top: 5px;
  padding-bottom: 5px;
  img {
    width: 100%;
  }
}