@import "_main.scss";

.form-wrapper {
  padding: 10px;
  border-left: 1px solid $darkedColor;
  border-right: 1px solid $darkedColor;
  border-bottom: 1px solid $darkedColor;
}

.course-form-table {
  td:last-child {
    width: 20px;
  }
}