.actions {
  margin: 10px 0;
}

.btn-action {
  background-color: #d7fff7;
  border: 1px solid #00e900 !important;
}

.btn-action:hover {
  border: 1px solid #ff03e6 !important;
}

//.folder-wrapper {
//  margin-top: 15px;
//  border-top: 1px solid grey;
//  padding-top: 15px;
//  .folder-icon {
//    font-size: 18px;
//  }
//  form {
//    display: inline;
//    input {
//      height: 20px;
//      border: 0;
//    }
//    button {
//      background-color: transparent;
//      border: 0;
//    }
//  }
//}