@import '_main.scss';

#feed-headers {
  margin: 12px;
}

#feed-headers > div {
  padding: 0 2px;
  a {
    display: block;
    background-color: $lightedColor;
  }
  a:hover {
    text-decoration: none;
    background-color: $darkedColor;
  }
}

#feed-headers > div:hover {
  cursor: pointer;
}

.feed {
  margin: 0 15px;
  background-color: $darkedColor;
  display: none;
}

.active-feed {
  display: block;
}

.feed-panel {
  height: 20px;
  width: 40px;
  padding-left: 10px;
}

.active-feed-header > a {
  background-color: $darkedColor!important;
}

.news-form {
  padding: 15px;
  > div{
    @include box-shadow(inset 0, 0, 20px, -4px, rgba(8,18,130,1));
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
  }
  .close-news-form {
    position: relative;
    float: right;
    bottom: 5px;
  }
}

.news-feed {
  min-height: 200px;
  padding: 20px;
  .news-topic:hover {
    background-color: $lightedColor ;
  }
  .news-topic-form {
    padding: 10px;
  }
  .news-topic {
    margin-bottom: 4px;
    padding: 5px 10px 5px 10px;
    border-left: 1px solid grey;
    background-color: white;
    .news-topic-panel {
      height: 20px;
      a {
        margin-left: 4px;
      }
    }
    .topic-meta {
      margin-top: 10px;
      color: grey;
      font-size: 12px;
    }
  }
}