@import "_main.scss";


#feed-labels {
  padding: 0;
  height: 20px;
  .feed-label-column {
    padding: 0;
    a {
      display: block;
      cursor: pointer;
      margin: 0 2px;
      text-align: center;
      background-color: $lightedColor;
    }
    a:hover {
      text-decoration: none;
      background-color: $darkedColor;
    }
  }
}

.active-feed-label {
  background-color: $darkedColor !important;
}

.feed-column {
  display: none;
}

.feed-column {
  margin-top: 5px;
  padding: 0 2px;
}

.active-feed-column {
  display: block;
}

.topic-form {
  padding: 10px;
}

.topic-form-wrapper {
  @include box-shadow(inset 2px, 2px, 2px, -2px, rgb(52, 117, 225));
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #457fea;
  textarea {
    max-width: 100%;
    min-height: 40px;
  }
}

.topic_form-toggle {
  display: block;
  height: 20px;
  background-color: #d1e2f7;
  width: 100%;
}

.topic_form-toggle:hover {
  opacity: 0.5;
}

.topic-wrapper {
  .topic-block, .topic-edit_form {
    padding: 3px 6px;
    margin: 4px 0;
  }
  .topic-block {
    background-color: white;
    .topic-meta {
      margin-top: 4px;
      color: grey;
      font-size: 10px;
    }
    .topic-panel {
      margin-bottom: 4px;
    }
  }
}

.topic-wrapper:hover {
  background-color: $lightedColor;
}