$mainColor: #F8F8F8;
$darkedColor: #e9e9e9;
$lightedColor: #f3f3f3;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}


@mixin box-shadow($setType, $hoff, $voff, $blur, $color) {
  -webkit-box-shadow: $setType $hoff $voff $blur $color;
  -moz-box-shadow: $setType $hoff $voff $blur $color;
  box-shadow: $setType $hoff $voff $blur $color;
}

@mixin test-outline($color: red) {
  outline: 1px solid $color;
}

.invalid {
  color: red;
}

.invalid-block {
  border: 1px solid red;
}

.invalid-value {
  border: 1px solid red;
}

