.folder-wrapper {
  .folder-state {
    display: inline;
  }
  .folder-state.editing-folder {
    form {
      display: inline;
      input {
        height: 20px;
        border: 1px solid grey;
      }
      button {
        background-color: transparent;
        border: 0;
      }
    }
  }
}