$avatarWidth: 190px;
$avatarHeight: 220px;
$blackfoneHeight: 30px;
$mainColor: #F8F8F8;
$darkedColor: #e9e9e9;

#cape {
  position: relative;
  margin: 0 15%;
  outline: 1px solid black;
  padding: 20px;
  min-height: 780px;
  min-width: 780px;
  background-color: $mainColor;
}

#avatar-column {
  outline: 2px solid white;
  height: $avatarHeight;
  width: $avatarWidth;
  margin: 0 2px 2px 0;
  img {
    width: $avatarWidth;
    height: $avatarHeight;
  }
  input[type="file"] {
    display: none;
  }
  a {
    display: block;
    width: $avatarWidth;
    height: $blackfoneHeight;
    position: relative;
    top: -$blackfoneHeight;
    opacity: 0.7;
    background-color: black;
    i {
      position: relative;
      left: $avatarWidth / 2 - 10px; // 8px it's a half-width of font-size, i.e. half-width of icon
      font-size: 20px;
      top: 6px;
      color: white;
    }
  }
}

#menu {
  margin-top: 8px;
  a:hover {
    text-decoration: none;
    color: #7dbfd6;
  }
  a {
    padding-left: 6px;
    color: #77a4d6;
    display: block;
    width: $avatarWidth;
    margin: 1px 0;
    background-color: $darkedColor;
  }
}