$avatarWidth: 190px;
$avatarHeight: 220px;

#cape {
  margin: 0 auto;
  padding: 10px 0;
  background-color: #F8F8F8;
  width: 1018px;
  height: 768px;
  position: relative;
}

#avatar {
  position: relative;
  left: 820px;
}

#avatar input[type=file] {
  display: none;
}

#avatar > img {
  width: $avatarWidth;
  height: $avatarHeight;
}

#avatar > a > i {
  font-size: 28px;
  color: white;
  display: none;
  position: relative;
  top: 95px;
  right: 110px;
  z-index: 20;
}

#avatar-preview-container {
  width: 565px;
  height: 600px;
}

#blackfone {
  display: none;
  background-color: black;
  width: $avatarWidth;
  height: 40px;
  position: relative;
  bottom: 40px;
  opacity: 0.2;
  z-index: 10;
}