.topic {
  padding: 5px 10px;
  margin-bottom: 3px;
  background-color: white;
  .meta {
    padding-top: 5px;
    color: grey;
    font-size: 12px;
  }
}

#main-content-header {
  padding-left: 5%;
}