$mainColor: rgba(95, 255, 0, 0.03);

body {
    background-color: $mainColor;
}

@mixin center {
    margin: 0 auto;
}

#login-panel {
    max-width: 500px;
    @include center
}

#back-to-login {
    margin-top: 10px;
}